<!DOCTYPE html>
<html lang="en">
<%- include('../parts/head'); %> <!--Incluirndo o HEAD-->


  <body class="container">
    <%- include('../parts/header', {paginas: "Home"}); %> <!--Incluirndo o HEAD-->
    <main>
      <div class="jumbotron">
        <h3>NODE E EJS</h3>
        <p>Aprenderemos a usar Node + EJS</p>
      </div>
      <ul>
        <% qualitys.forEach(function(a){  %>
          <li>
            <strong><%= a.title %></strong> <%= a.Message %>
          </li>

       <% }) %>
        
      </ul>
    </main>
    <%- include('../parts/footer'); %> <!--Incluirndo o HEAD-->

  </body>
</html>
